pyyaml
transformers<=4.28.1
langchain
gradio
unstructured
pdf2img
pytesseract
chromadb
accelerate
bitsandbytes
fschat
toml
texttable
protobuf<=3.20.3
llama-cpp-python
text2vec

# for jira integration
jira
atlassian-python-api

# for kubernetes integration
kubernetes
flatten_json